.vs/VSWorkspaceState.json
.vs/ProjectSettings.json
.vs/ProjectRepoNew/FileContentIndex/5441b311-63a3-4d46-a102-81f3e094a375.vsidx
.vs/slnx.sqlite
.vs/ProjectRepoNew/v17/.wsuo
BloodManagementProject/.vscode/settings.json
BloodManagementProject/target/classes/lsit/
